## Parsing artists JSON file

This exercise will take a few steps to complete successfully. Have a look at the `artists.json` file before starting so you have an idea of the structure and information contained.

### **Instructions**

* Read the `artists.json` into an artists DataFrame variable, without using `json_normalize`.
* Remove the `bio` column.
* Set the `name` column as index.
* Save it as `artists.csv` keeping the index.

In [28]:
import pandas as pd

In [29]:
artists_df = pd.read_json('files/artists.json')

In [30]:
artists_df.head()

,name,years,genre,nationality,bio
0,Amedeo Modigliani,1884 - 1920,Expressionism,Italian,"[{'full name': 'Amedeo Clemente Modigliani', '..."
1,Vasiliy Kandinskiy,1866 - 1944,"Expressionism,Abstractionism",Russian,[{'full name': 'Wassily Wassilyevich Kandinsky...
2,Diego Rivera,1886 - 1957,"Social Realism,Muralism",Mexican,[{'full name': 'Diego María de la Concepción J...
3,Claude Monet,1840 - 1926,Impressionism,French,"[{'full name': 'Oscar-Claude Monet', 'pronunci..."
4,Rene Magritte,1898 - 1967,"Surrealism,Impressionism",Belgian,[{'full name': 'René François Ghislain Magritt...

Let´s remove the `bio` column by using the `drop` method. The `drop` method is used to remove rows or columns from a DataFrame.

In [31]:
artists_df.drop(columns=['bio'], inplace=True, axis="columns") # to remove the bio column

In [32]:
artists_df.head()

                 name        years                         genre nationality
0   Amedeo Modigliani  1884 - 1920                 Expressionism     Italian
1  Vasiliy Kandinskiy  1866 - 1944  Expressionism,Abstractionism     Russian
2        Diego Rivera  1886 - 1957       Social Realism,Muralism     Mexican
3        Claude Monet  1840 - 1926                 Impressionism      French
4       Rene Magritte  1898 - 1967      Surrealism,Impressionism     Belgian

Setting now the `name` column as index. The `set_index` method is used to set the index of a DataFrame. In this case, we want to set the `name` column as the index, so we will pass the column name as a parameter.

In [33]:
artists_df.set_index('name', inplace=True)

In [34]:
artists_df.head()

                          years                         genre nationality
name
Amedeo Modigliani   1884 - 1920                 Expressionism     Italian
Vasiliy Kandinskiy  1866 - 1944  Expressionism,Abstractionism     Russian
Diego Rivera        1886 - 1957       Social Realism,Muralism     Mexican
Claude Monet        1840 - 1926                 Impressionism      French
Rene Magritte       1898 - 1967      Surrealism,Impressionism     Belgian

Saving the `artists.json` file as `artists.csv` using the `to_csv` method. The `to_csv` method is used to save a DataFrame as a CSV file. In this case, we want to save the DataFrame as `artists.csv`, so we will pass the file name as a parameter. We also want to keep the index, so we will set the `index` parameter to `True`.

In [35]:
artists_df.to_csv('files/artists.csv', index=True)

In [36]:
artists_df_csv = pd.read_csv('files/artists.csv', index_col=0)

In [37]:
artists_df_csv.head()

                          years                         genre nationality
name
Amedeo Modigliani   1884 - 1920                 Expressionism     Italian
Vasiliy Kandinskiy  1866 - 1944  Expressionism,Abstractionism     Russian
Diego Rivera        1886 - 1957       Social Realism,Muralism     Mexican
Claude Monet        1840 - 1926                 Impressionism      French
Rene Magritte       1898 - 1967      Surrealism,Impressionism     Belgian